.routes_of_america_logo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.first_title_line{
    position: absolute;
    left: 120px;
    top: 90px;
    z-index: 2;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 120px;
    top: 110px;
    z-index: 1;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_interstate_highway_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
#routes_of_america_interstate_highway_main_content{
    text-wrap: wrap;
}
#primary_interstate_highway_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#auxilary_interstate_highway_container{
    text-wrap: wrap;
}
#regional_interstate_highway_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#business_interstate_highway_container{
    text-wrap: wrap;
}
#primary_interstate_highway_scenery, #auxiliary_interstate_highway_scenery,
#regional_interstate_highway_scenery, #business_interstate_highway_sign{
    width: 25vw;
    height: 35vh;
}
#help_button{
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    list-style-type: none;
    padding: 10px 0;
}
.modal-header,
.modal-body{
    color: black;
}
a{
    color: red;
}
a:hover{
    color: orange;
}
a:visited{
    color: yellow;
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}