#routes_of_america_logo{
    position: relative;
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}
.first_title_line{
    position: absolute;
    left: 130px;
    top: 100px;
    z-index: 2;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 130px;
    top: 120px;
    z-index: 1;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_interstate_highway_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
#primary_interstate_highway_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#auxilary_interstate_highway_container{
    text-wrap: wrap;
}
#regional_interstate_highway_container{
    flex-direction: row-reverse;
    text-wrap: wrap;
}
#business_interstate_highway_container{
    text-wrap: wrap;
}
#primary_interstate_highway_scenery, #auxiliary_interstate_highway_scenery,
#regional_interstate_highway_scenery, #business_interstate_highway_sign{
    width: 25vw;
    height: 35vh;
}
#help_button{
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
#address_box{
    left: 50px;
    top: 100px;
}
#city_box{
    left: 150px;
    top: 100px;
}
#state_box{
    left: 250px;
    top: 100px;
}
#zip_code_box{
    left: 350px;
    top: 100px;
}
#phone_number_box{
    left: 100px;
    top: 250px;
}
#email_box{
    left: 200px;
    top: 250px;
}
.routes_of_america_footer{
    position: fixed;
    margin-top: 30px;
}
#routes_of_america_navbar ul{
    list-style-type: none;
    padding: 10px 0;
}
#routes_of_america_navbar li a,#copyright_link, #web_portfolio_link,
#email_link{
    color: white;
}
#routes_of_america_navbar li a:hover,#copyright_link:hover, #web_portfolio_link:hover,
#email_link:hover{
    color: orange;
}
#routes_of_america_navbar li a:visited, #copyright_link:visited, #web_portfolio_link:visited, 
#email_link:visited{
    color: yellow;
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}