:root{
    --routes-of-america-interstate-highway-page-text-color: #ffffff;
    --routes-of-america-navbar-link-hover-color: #32cd32;
    --routes-of-america-primary-interstate-highway-table-bg-color: #008000;
    --routes-of-america-modal-color: #000000;
    --routes-of-america-footer-link-active-color: #ffff00;
    --routes-of-america-footer-link-hover-color: #ffa500;
    --routes-of-america-footer-link-color: #ff0000;
}
.routes_of_america_logo{
    position: relative;
    margin-left: 470px;
}
.first_title_line{
    position: absolute;
    left: 570px;
    top: 90px;
    z-index: 2;
    rotate: -35deg;
    color: var(--routes-of-america-interstate-highway-page-text-color);
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 570px;
    top: 110px;
    z-index: 1;
    rotate: -35deg;
    color: var(--routes-of-america-interstate-highway-page-text-color);
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_interstate_highway_title_image{
    margin-left: 340px;
}
#routes_of_america_interstate_highway_main_content{
    text-wrap: wrap;
}
#primary_interstate_highway_container{
    text-wrap: wrap;
}
#primary_interstate_highway_table{
    margin-left: 380px;
}
#primary_interstate_highway_table tr td, #primary_interstate_highway_table tr th{
    padding: 5px;
    background-color: var(--routes-of-america-primary-interstate-highway-table-bg-color);
    border: 5px solid var(--routes-of-america-interstate-highway-page-text-color);
}
#auxilary_interstate_highway_container{
    text-wrap: wrap;
}
#auxilary_interstate_highway_table tr td, #auxilary_interstate_highway_table tr th{
    padding: 5px;
    background-color: var(--routes-of-america-footer-link-hover-color);
    border: 5px solid var(--routes-of-america-interstate-highway-page-text-color);
}
#regional_interstate_highway_container{
    text-wrap: wrap;
}
#business_interstate_highway_container{
    text-wrap: wrap;
}
#primary_interstate_highway_scenery, #auxiliary_interstate_highway_scenery,
#regional_interstate_highway_scenery, #business_interstate_highway_sign{
    width: 25vw;
    height: 35vh;
}
#routes_of_america_computer_navbar .row{
    list-style-type: none;
    padding: 10px 0;
}
#routes_of_america_tablet_and_phone_navbar{
    display: none;
}
#routes_of_america_tablet_and_phone_navbar_menu{
    display: none;
    list-style: none;
    margin: 0;
    padding: 20px 0;
}
#routes_of_america_tablet_and_phone_navbar_menu:active{
    display: flex;
    flex-direction: column;
}
#routes_of_america_computer_navbar .row .col-md a, #routes_of_america_tablet_and_phone_navbar #routes_of_america_tablet_and_phone_navbar_menu li a{
    color: var(--routes-of-america-interstate-highway-page-text-color);
}
#routes_of_america_computer_navbar .row .col-md a:hover, 
#routes_of_america_tablet_and_phone_navbar a:hover{
    color: var(--routes-of-america-navbar-link-hover-color);
}
#openbtn{
    font-size: 70px;
    cursor: pointer;
    position: fixed;
    display: none;
    color: var(--routes-of-america-main-webpage-text-color);
    bottom: 130px;
    background-color: transparent;
    border: none;
}
#openbtn:hover{
    color: var(--routes-of-america-footer-link-hover-color);
}
.modal-header,
.modal-body{
    color: var(--routes-of-america-modal-color);
}
#email-link,
#copyright-link,
#webportfolio-link{
    color: var(--routes-of-america-footer-link-color);
}
#email-link:hover,
#copyright-link:hover,
#webportfolio-link:hover{
    color: var(--routes-of-america-footer-link-hover-color);
}
#email-link:active,
#copyright-link:active,
#webportfolio-link:active{
    color: var(--routes-of-america-footer-link-active-color);
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}